###############################################################################
### Common Visual STudio and VS Code directories
###############################################################################
.vs/
.vscode/

###############################################################################
## Build (bin) and Intermediate (obj) directories
###############################################################################
[Bb]in/
[Oo]bj/

###############################################################################
##  OS Specific files
###############################################################################
.DS_Code    
Thumbs.db